<header class="top-header">
  <h2 class="header-title"></h2>
  <div class="header-actions">
    <app-language-switcher />
    <div class="icon-notification">
      <mat-icon>auto_awesome</mat-icon>
      <span class="dot-red"></span>
    </div>
    <div class="user-profile-top">
      <div class="avatar-xs">CE</div>
      <div class="profile-info-top">
        <p class="profile-name">Carlos Estrada</p>
        <p class="profile-sub">Conductor</p>
      </div>
      <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
    </div>
  </div>
</header>
