<mat-card class="quick-actions-card">
  <mat-card-content class="card-body">
    <h3 class="card-title">Acciones rápidas</h3>

    <div class="actions-list">
      <button mat-flat-button class="action-btn" >
        <mat-icon>priority_high</mat-icon> Reportar retraso
      </button>

      <button mat-flat-button class="action-btn" >
        <mat-icon>change_history</mat-icon> Reportar incidencia
      </button>

      <button mat-flat-button class="action-btn">
        <mat-icon>alt_route</mat-icon> Configurar ruta
      </button>
    </div>
  </mat-card-content>
</mat-card>
